.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #07ebe8;
  padding: 5px;
  gap: 5px;
}
.grid-container div {
  background-color: #8855f8;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-container img {
  max-width: 100%;
  height: auto;
  display: block;
}
