.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'menu'
        'main'
        'facts'
        'footer';

    background-color: #0D0F2E; 
    gap: 10px;
    padding: 10px; 
    border: 2px solid #5C558F; 
    border-radius: 10px;
    color: #FFFDF6; 
}

.grid-container .header {
    grid-area: header;
    background-color: #5C558F;
    text-align: center;
    color: #FFFDF6; 
    padding: 10px 0;
}

.grid-container .header > h1 {
    font-size: 40px;
}

.grid-container .menu {
    grid-area: menu;
}

.grid-container .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grid-container .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #0D0F2E;
}

.grid-container .menu li:hover {
    background-color: #0099cc;
}

.grid-container .content {
    grid-area: main;
    background-color: #2D2F5A;
    padding: 15px;
}

.grid-container .content > h1 {
    font-size: 30px;
    margin-bottom: 7px;
    color: #9F7AEA; 
}

.grid-container .facts {
    grid-area: facts;
    border: 1px solid #9F7AEA;
    background-color: #1A1C3C;
    padding: 10px;
}

.grid-container .facts > h2 {
    font-size: 20px;
}

.grid-container .facts li {
    margin-bottom: 5px;
}

.grid-container .footer {
    grid-area: footer;
    background-color: #33b5e5;
    color: #0D0F2E;
    text-align: center;
    padding: 10px 0;
}
.content > h1 {
    font-size: 30px;
    margin-bottom: 7px;
}

.content > p {
    margin-bottom: 7px;
}

.facts {
    grid-area: facts;
    border: 1px solid #0099cc;
    background-color: beige;
    padding: 10px;
}

.facts > h2 {
    font-size: 20px;
}

.facts li {
    margin-bottom: 5px;
}

.footer {
    grid-area: footer;
    background-color: #0099cc;
    color: black;
    background-color: #e6f7ff;
    text-align: center;
}

